.Callpage-item{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.profile-pic{
    height: 90%;
}
.ignore{
    text-align: center;
}
.text{
    text-align:center;
}
.footer-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ficons{
    padding:15px;
    margin-right: 15px;
   font-size: 15px;
    color: white;
    background-color: red;
    border-radius: 50%;
}